.aboutus_div1{
    margin-top: var(--gap-btw-nav);
    border: 5px solid var(--accent-color);
    padding: 1rem;
    border-radius: 2rem;
}
.aboutus_div1_1{
    padding: 1rem;
}
.aboutus_div1_1_1_h1{
    font-size: 4.5rem;
    color: var(--accent-color);
    font-weight: bolder;
}
@media screen and (max-width:376px){
    .aboutus_div1_1_1_h1{
        font-size: 2.4rem;
    }
    .aboutus_div1{
        padding: 0;
    }
}
.aboutus_div1_1_2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content;
    gap: 1rem;
}
.aboutus_div1_1_2_1{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "aboutus_div1_empty1"
    "aboutus_div1_1_2_1_p";
}
.aboutus_div1_1_2_1_p{
    grid-area: aboutus_div1_1_2_1_p;
    display: flex;
    text-align: left;
    align-items: flex-end;
    color: var(--text-color-white);
    font-size: var(--para-font-size);
    line-height: var(--line-height);
}
.aboutus_div1_1_2_2_img{
    width: 100%;
    height: auto;
}
.aboutus_div1_1_3{
    color: var(--accent-color);
    font-size: var(--para-font-size);
    font-weight: lighter;
}
@media screen and (max-width:1243px){
    .aboutus_div1_1_2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content max-content;
    }
    .aboutus_div1_1_2_1{
        display: block;
    }
    .aboutus_div1_1_2_2_img{
        height: auto;
        width: 20%;
        min-width: 100px;
    }
}
.aboutus_div2{
    margin-top: 20px;
    padding: 1rem;
    margin-top: 50px;
}
@media screen and (max-width:376px){
    .aboutus_div2{
        padding: 0;
    }
}
.aboutus_div2_1{
    padding: 1rem;
}
.aboutus_div2_1_1_h_h21{
    color: var(--accent-color);
}
.aboutus_div2_1_2_p{
    margin-top: 30px;
}
.aboutus_div2nd3{
    padding: 1rem;
}
.aboutus_div2nd3_1{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text-color-white);
    text-align: center;
}
.aboutus_div2nd3_1_cont1_text, .aboutus_div2nd3_1_cont2_text, .aboutus_div2nd3_1_cont3_text{
    font-weight: lighter;
    font-size: 1.5rem;
}
.aboutus_div2nd3_1_cont1, .aboutus_div2nd3_1_cont2, .aboutus_div2nd3_1_cont3{
    padding: 1rem;
    border-bottom: 5px solid var(--background-color);
}
.aboutus_div2nd3_1_cont1:hover{
    border-bottom: 5px solid var(--third-color);
    transition: var(--transition);
    color: var(--third-color);
}
.aboutus_div2nd3_1_cont2:hover{
    border-bottom: 5px solid var(--fourth-color);
    transition: var(--transition);
    color: var(--fourth-color);
}
.aboutus_div2nd3_1_cont3:hover{
    border-bottom: 5px solid var(--fifth-color);
    transition: var(--transition);
    color: var(--fifth-color);
}
@media screen and (max-width:768px){
    .aboutus_div2nd3_1{
        font-size: 1.5rem;
    }
    .aboutus_div2nd3_1_cont1_text, .aboutus_div2nd3_1_cont2_text, .aboutus_div2nd3_1_cont3_text{
        font-size: 1rem;
    }
}
@media screen and (max-width:659px){
    .aboutus_div2nd3_1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }
}
@media screen and (max-width:375px){
    .aboutus_div2nd3_1{
        padding: 0;
    }
    .aboutus_div2nd3{
        font-size: 1rem;
    }
    .aboutus_div2nd3_1_cont1_text, .aboutus_div2nd3_1_cont2_text, .aboutus_div2nd3_1_cont3_text{
        font-size: 1rem;
    }
}
.aboutus_div3_1_2_1_1_img1_img, .buttercup, .aboutus_div3_1_2_3_1_img1_img, .aboutus_div3_1_2_4_1_img1_img, .aboutus_div3_1_2_5_1_img1_img{
    border-radius: 2rem;
    min-width: 130px;
}
.aboutus_div3{
    padding: 1rem;
}
.aboutus_div3 img{
    max-width: 180px;
    height: auto;
}
.aboutus_div3_1{
    padding: 1rem;
}
.aboutus_div3_1_2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "common1 empty common2"
    "common3 empty common4"
    "common5 empty common6";
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.aboutus_div3_1_2_1{
    grid-area: common1;
}
.aboutus_div3_1_2_2{
    grid-area: common2;
}
.aboutus_div3_1_2_3{
    grid-area: common3;
}
.aboutus_div3_1_2_4{
    grid-area: common4;
}
.aboutus_div3_1_2_5{
    grid-area: common5;
}
.aboutus_div3_1_2_6{
    grid-area: common6;
}
.aboutus_div3_1_2_1, .aboutus_div3_1_2_2, .aboutus_div3_1_2_3, .aboutus_div3_1_2_4, .aboutus_div3_1_2_5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr fit-content;
    grid-template-areas: "aboutus_div3_common_img aboutus_div3_common_txt1"
    "aboutus_div3_common_img aboutus_div3_common_txt2";
    gap: 1rem;
    padding: 1rem;
}
.aboutus_div3_1_2_1_1_img1, .aboutus_div3_1_2_2_1_img1, .aboutus_div3_1_2_3_1_img1, .aboutus_div3_1_2_4_1_img1, .aboutus_div3_1_2_5_1_img1{
    grid-area: aboutus_div3_common_img;
}
.aboutus_div3_1_2_1_2_txt, .aboutus_div3_1_2_2_2_txt, .aboutus_div3_1_2_3_2_txt, .aboutus_div3_1_2_4_2_txt, .aboutus_div3_1_2_5_2_txt{
    grid-area: aboutus_div3_common_txt1;
}
.aboutus_div3_1_2_1_3_txt, .aboutus_div3_1_2_2_3_txt, .aboutus_div3_1_2_3_3_txt, .aboutus_div3_1_2_4_3_txt, .aboutus_div3_1_2_5_3_txt{
    grid-area: aboutus_div3_common_txt2;
}
.aboutus_div3_1_2_1_2_txt_R_fname, .aboutus_div3_1_2_2_2_txt_Di_fname, .aboutus_div3_1_2_3_2_txt_P_fname, .aboutus_div3_1_2_4_2_txt_Dh_fname, .aboutus_div3_1_2_5_2_txt_L_fname{
    font-size: 32px;
    font-weight: 1rem;
}
.aboutus_div3_1_2_1_2_txt_R_lname, .aboutus_div3_1_2_2_2_txt_Di_lname, .aboutus_div3_1_2_3_2_txt_P_lname, .aboutus_div3_1_2_4_2_txt_Dh_lname, .aboutus_div3_1_2_5_2_txt_L_lname{
    font-size: 24px;
    font-weight: normal;
}
.aboutus_div3_1_2_1_2_txt_socialicons a i, .aboutus_div3_1_2_2_2_txt_socialicons a i, .aboutus_div3_1_2_3_2_txt_socialicons a i, .aboutus_div3_1_2_4_2_txt_socialicons a i, .aboutus_div3_1_2_5_2_txt_socialicons a i{
    font-size: 16px;
    color: grey;
    margin-right: 10px;
}
.aboutus_div3_1_2_1_2_txt_socialicons, .aboutus_div3_1_2_2_2_txt_socialicons, .aboutus_div3_1_2_3_2_txt_socialicons, .aboutus_div3_1_2_4_2_txt_socialicons, .aboutus_div3_1_2_5_2_txt_socialicons{
    margin-top: 10px;
}
.aboutus_div3_1_2_1_3_txt p, .aboutus_div3_1_2_2_3_txt p, .aboutus_div3_1_2_3_3_txt p, .aboutus_div3_1_2_4_3_txt p, .aboutus_div3_1_2_5_3_txt p{
    font-size: 13px;
}
.aboutus_div3_1_2_1 h3, .aboutus_div3_1_2_1 h4, .aboutus_div3_1_2_1 p{
    color: var(--first-color);
}
.aboutus_div3_1_2_2 h3, .aboutus_div3_1_2_2 h4, .aboutus_div3_1_2_2 p{
    color: var(--second-color);
}
.aboutus_div3_1_2_3 h3, .aboutus_div3_1_2_3 h4, .aboutus_div3_1_2_3 p{
    color: var(--third-color);
}
.aboutus_div3_1_2_4 h3, .aboutus_div3_1_2_4 h4, .aboutus_div3_1_2_4 p{
    color: var(--fourth-color);
}
.aboutus_div3_1_2_5 h3, .aboutus_div3_1_2_5 h4, .aboutus_div3_1_2_5 p{
    color: var(--fifth-color);
}
@media screen and (max-width:962px){
    /* .universal_container{
        width: var(--container-width-md);
    } */
    .aboutus_div3_1_2_1, .aboutus_div3_1_2_2, .aboutus_div3_1_2_3, .aboutus_div3_1_2_4, .aboutus_div3_1_2_5{
        display: block;
    }
    .aboutus_div3_1_2_1_3_txt_unexpected, .aboutus_div3_1_2_2_3_txt_unexpected, .aboutus_div3_1_2_3_3_txt_unexpected, .aboutus_div3_1_2_4_3_txt_unexpected, .aboutus_div3_1_2_5_3_txt_unexpected{
        margin-top: 1rem;
    }
    .aboutus_div3_1_2_1_1_img1_img, .buttercup, .aboutus_div3_1_2_3_1_img1_img, .aboutus_div3_1_2_4_1_img1_img, .aboutus_div3_1_2_5_1_img1_img{
        max-width: 140px;
    }
}
@media screen and (max-width:667px){
    .aboutus_div3_1_2{
        display: block;
    }
    .aboutus_div3_1_2_1, .aboutus_div3_1_2_2, .aboutus_div3_1_2_3, .aboutus_div3_1_2_4, .aboutus_div3_1_2_5{
        display: grid;
        grid-template-columns: fit-content 1fr;
    }
}
@media screen and (max-width:567px){
    .aboutus_div3_1_2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "R"
        "Di"
        "P"
        "Dh"
        "L";
    }
    .aboutus_div3_1_2_1{
        grid-area: R;
    }
    .aboutus_div3_1_2_2{
        grid-area: Di;
    }
    .aboutus_div3_1_2_3{
        grid-area: P;
    }
    .aboutus_div3_1_2_4{
        grid-area: Dh;
    }
    .aboutus_div3_1_2_5{
        grid-area: L;
    }
    .aboutus_div3_1_2_1, .aboutus_div3_1_2_2, .aboutus_div3_1_2_3, .aboutus_div3_1_2_4, .aboutus_div3_1_2_5{
        display: block;
    }
}
@media screen and (max-width:376px){
    .aboutus_div3 img{
        max-width: 140px;
    }
    .aboutus_div3_1_2, .aboutus_div3_1_2_1, .aboutus_div3_1_2_2, .aboutus_div3_1_2_3, .aboutus_div3_1_2_4, .aboutus_div3_1_2_5{
        padding: 0;
    }
}