.contactus_div1{
    margin-top: var(--gap-btw-nav);
    border: 5px solid var(--accent-color);
    padding: 1rem;
    border-radius: 2rem;
}
.contactus_div1_1{
    padding: 1rem;
}
.contactus_div1_1_1_h1{
    font-size: 4.5rem;
    color: var(--accent-color);
    font-weight: bolder;
}
@media screen and (max-width:376px){
    .contactus_div1_1_1_h1{
        font-size: 2.4rem;
    }
    .contactus_div1{
        padding: 0;
    }
}
.contactus_div1_1_2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content;
    gap: 1rem;
}
.contactus_div1_1_2_1{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "contactus_div1_empty1"
    "contactus_div1_1_2_1_p";
}
.contactus_div1_1_2_1_p{
    grid-area: contactus_div1_1_2_1_p;
    display: flex;
    text-align: left;
    align-items: flex-end;
    color: var(--text-color-white);
    font-size: var(--para-font-size);
    line-height: var(--line-height);
}
.contactus_div1_1_2_2_img{
    width: 100%;
    height: auto;
}
.contactus_div1_1_3{
    color: var(--accent-color);
    font-size: var(--para-font-size);
    font-weight: lighter;
}
@media screen and (max-width:1243px){
    /* .universal_container{
        width: var(--container-width-md);
    } */
    .contactus_div1_1_2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content max-content;
    }
    .contactus_div1_1_2_1{
        display: block;
    }
    .contactus_div1_1_2_2_img{
        height: auto;
        width: 20%;
        min-width: 100px;
    }
}
.contactus_div2{
    margin-top: 10rem;
    padding: 1rem;
    height: fit-content;
}
@media screen and (max-width:376px){
    .contactus_div2{
        padding: 0;
    }
}
.contactus_div2_1{
    padding: 1rem;
}
.contactus_div2_1_1_h31{
    text-align: left;
    margin-bottom: 2rem;
}
.contactus_div2_1_2_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 3px solid var(--accent-color);
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: var(--background-color);
    font-size: 20px;
    color: var(--text-color-white);
}
  input[type=submit] {
    background-color: var(--btn-bg-color);
    color: var(--background-color);
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus, select:focus {
    border: 5px solid #5555;
}
@media screen and (max-width:643px){
    /* .universal_container{
        width: var(--container-width-md);
    } */
    .contactus_div2{
        margin-top: 50px;
    }
    .contactus_div2_1_2_1{
        display: block;
    }
}
.contactus_div3{
    padding: 1rem;
    height: fit-content;
}
.contactus_div3_1{
    padding: 1rem;
}
.contactus_div3_1_1{
    text-align: center;
}
.contactus_div3_1_1_txt1{
    font-size: 5rem;
}
.contactus_div3_1_1_txt1_dot1{
    color: var(--facebook-color);
}
.contactus_div3_1_1_txt1_dot2{
    color: var(--insta-color);
}
.contactus_div3_1_1_txt1_dot3{
    color: var(--whatsapp-color);
}
.contactus_div3_1_1_txt1_dot4{
    color: var(--twitter-color);
}
.contactus_div3_1_1_txt1_dot5{
    color: var(--youtube-color);
}
.contactus_div3_1_1_txt1_dot6{
    color: var(--linkedin-color);
}
.contactus_div3_1_1_socialicons li{
    display: inline;
}
.contactus_div3_1_1_socialicons li a{
    display: inline-block;
    transition: 0.5s;
}
.contactus_div3_1_1_socialicons li a:hover{
    transform: translateY(-10px);
}
.contactus_div3_1_1_socialicons_facebook a{
    color: var(--facebook-color);
}
.contactus_div3_1_1_socialicons_insta a{
    color: var(--insta-color);
}
.contactus_div3_1_1_socialicons_whatsapp a{
    color: var(--whatsapp-color);
}
.contactus_div3_1_1_socialicons_twitter a{
    color: var(--twitter-color);
}
.contactus_div3_1_1_socialicons_youtube a{
    color: var(--youtube-color);
}
.contactus_div3_1_1_socialicons_linkedin a{
    color: var(--linkedin-color);
}
/**/
#test{
    display: flex;
    justify-content: center;
    align-items: center;
}
#test1{
    position: relative;
    color: var(--accent-color);
}
#test1::before{
    content: attr(data-text);
    position:absolute;
    color:white;
    /* width:350px; */
    overflow:hidden;
    white-space:nowrap;
    border-right:4px solid var(--accent-color);
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px white) drop-shadow(0 0 50px white)
}
@keyframes animate{
    0%,10%,100%{
        width:0;
    }
    70%,90%{
      width:100%;
    }
}