/* #preloader{
    background-image: url("preloader.gif");
    background-color: #0000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #0000 url("preloader2.gif") no-repeat center center; */
    /*height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */

/* .reveal{
    position: relative;
    transform: translateY(50px);/*150px*//*
    opacity: 0;
    transition: all 2s ease;
}*/
.reveal.active{
    /* transform: translateY(0px);
    opacity: 1; */
    border: none;
}

.page_loading_transitions{
    animation: transitionIn 1.75s;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

@media screen and (min-width:800px){
    .reveal{
        position: relative;
        transform: translateY(50px);/*150px*/
        opacity: 0;
        transition: all 2s ease;
    }
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
        border: none;
    }
}